* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  background: rgb(0, 161, 153);
}

#root {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.memory-game {
  margin: 0 auto;
  height: 525px;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
  justify-content: center;
}

.memory-card {
  width: 150px;
  height: calc(33% - 10px);
  margin: 5px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  background: rgb(244, 255, 255);
  backface-visibility: hidden;
}

#root h1 {
  text-align: center;
  color: white;
  font-size: 2.5rem;
  font-weight: 800;
}

.wrong {
  border: 2px solid red;
  background-color: rgb(255, 204, 204);
}

.matched {
  border: 2px solid green;
  background-color: rgb(159, 241, 159);
}

.btn-reset,
.btn-restart {
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 1.2rem;
  margin: 5px 10px 0 5px;
  align-items: center;
}

.btn-reset {
  background-color: orangered;
}
.btn-restart {
  background-color: red;
}

.details {
  width: 550px;
  display: flex;
  margin: 7px auto;
  justify-content: space-evenly;
  padding: 0 10px;
  color: white;
  font-size: 1.2rem;
}

.details p {
  margin: auto 15px auto 10px;
}

#easy,
#medium,
#hard {
  margin: 5px;
}

.medium {
  width: 1000px;
}

.easy {
  width: 700px;
}

.hard {
  width: 1300px;
}
